In [1]:
# loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [2]:
# loading dataset
df=pd.read_csv('Iris.csv', sep=r'\s*,\s*', header=0, encoding='ascii', engine='python')

#read the first 3 rows
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [3]:
#summary statistics
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [24]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [25]:
# unique values for species
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [26]:
# cleaning the data
df.drop('Id', axis=1, inplace=True)

In [27]:
# checking if cleaned
df.tail(2)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [28]:
print(df.columns.tolist())

['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [17]:
# dummy varials
NewSpecies=pd.get_dummies(df["Species"], drop_first=True)
NewSpecies.head(4)

   Iris-versicolor  Iris-virginica
0                0               0
1                0               0
2                0               0
3                0               0

In [32]:
X = df.drop('Species', axis=1)
y = df['Species']

In [33]:
# split the data
Xtrain, Xtest, ytrain, ytest= train_test_split(X,y, test_size=0.3, random_state=0)

In [35]:
print(Xtrain.shape)
print(ytrain.shape)
print(Xtest.shape)
print(ytest.shape)

(105, 4)
(105,)
(45, 4)
(45,)

In [37]:
# pipeline
from sklearn.svm import SVC

pipe=Pipeline([('scaler', StandardScaler()), ('svm', SVC())])

In [38]:
# fit the model
pipe.fit(Xtrain, ytrain)

Pipeline(steps=[('scaler', StandardScaler()), ('svm', SVC())])

In [39]:
# accuracy
pipe.score(Xtest, ytest)

0.9777777777777777

In [40]:
# saving the model
import pickle
pickle.dump(pipe, open('bestmodel.pkl', 'wb'))